@media all and (min-width: 800px) {
	#nav {
		width: 300px;
		float: left;
		margin-right: 20px;
	}
	#grid {
		width: 450px;
		float: left;
	}
}

@media all and (max-width: 799px) {
	#nav {
		width: 100%;
	}
	#grid {
		width: 100%;
	}
}

.ui-bar {
	height: 120px;
}


.body
{
	background-color: #FFA;
	
}

.Img
{
	
    margin-left: 20px;
	margin-right: 20px;
   
	
	width:300px;
	border: 2px solid  #2A3FAA;
    border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
	margin: 20px 20px;
	

	
}


.h1
{
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	color:#FFF;
	border: 3px solid  #2A3FAA;
	background-color: #2A5FAA;
	box-shadow: 20px 5px 20px #888888;
	
	
}

.h2
{
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	color: #FFF;
	border: 3px solid  #2A3FAA;
	background-color: #2A5FAA;
	box-shadow: 20px 5px 20px #888888;
	
	
}


.para
{
	color:#2A5FAA;
	font-size:16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
}


.h3
{
	color:#2A7FAA;
	
	font-size:18px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
	
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}


.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('icon_top.png') no-repeat;
    background-color: #000;
}

